#create-branch {
    background-image: linear-gradient(to right, rgb(250, 228, 228), rgb(196, 196, 168));
    min-height: 100vh;
  
  .container {
      width: 100%;
      max-width: 1600px;
      padding-left: 310px;
      padding-top: 6rem;
      min-height: 100vh;

	form {
		width: 700px;
    margin: auto;

		background: #FFF;
		border: 1px solid #D3E2E5;
		border-radius: 20px;

		padding: 14px 80px;

    overflow: hidden;
    
    input[type="file"] {
      margin: 10px 0px;
      border: none;
    }

		fieldset {
			border: 0;

			legend {
				width: 100%;
			
				color: #252535;
				font-weight: 700;
			
				border-bottom: 1px solid #252535;
				margin-bottom: 10px;
        padding-bottom: 14px;
        margin-top: 20px;

				&:nth-child(1) {
					margin-top: 50px
				}
			}
        }
        
        .input-block {
          margin-top: 12px;

          input, textarea {
            width: 100%;
            background: #F5F8FA;
            border: 3px solid #D3E2E5;
            border-radius: 20px;
            outline: none;
            color: #252535;
          } 
          
          input {
            height: 52px;
            padding: 0 16px;
          }

          textarea {
            min-height: 120px;
            max-height: 240px;
            resize: vertical;
            padding: 10px;
            line-height: 28px;
          }

          label {
            display: flex;
            color: #8FA7B3;
            margin-bottom: 8px;
            line-height: 24px;

            span {
              font-size: 14px;
              color: #8FA7B3;
              margin-left: 24px;
              line-height: 24px;
            }
          }
        }

        .button-select {
          display: flex;
          justify-content: space-evenly;
          margin-top: 10px;

          button {
            height: 64px;
            background: #e1e9ef;
            border: 1px solid #aeb9bc;
            color: #5C8599;
            cursor: pointer;
            width: 100%;

            &:first-child{
                border-radius: 20px 0px 0px 20px;
            }

            &:last-child{
                border-radius: 0 20px 20px 0;
            }
          }
        }
      }
    }
    
    .active {
      background: rgba(37, 53, 53, 0.6)!important;
      border: 1px solid #2d3832!important;
      color: #FFF!important;
    }
    .confirm-button {
      margin-top: 1rem;
    
      width: 100%;
      height: 64px;
      border: 0;
      cursor: pointer;
      background: #252535;
      border-radius: 20px;
      color: #FFFFFF;
      font-weight: 800;
    
      display: flex;
      justify-content: center;
      align-items: center;
    
      transition: background-color 0.2s;
    }
}


