#home {
    background-image: linear-gradient(to right, rgb(250, 228, 228), #c4c4a8);
    height: 100vh;
    
    .container {
        width: 100%;
        max-width: 1600px;
        padding-left: 310px;
        height: 100vh;
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 3rem;
            letter-spacing: 2px;
            color: rgb(53, 17, 60);
        }
    }

}