#home {
    background-image: linear-gradient(to right, rgb(250, 228, 228), #c4c4a8);
    min-height: 100vh;
    
    .container {
        width: 100%;
        max-width: 1600px;
        padding-left: 310px;
        padding-top: 6rem;
        min-height: 100vh;
    }

    .highcharts-data-table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }
}