#sidebar {
    height: 80%;
    padding: 32px 24px;
    background: linear-gradient(329.54deg, #252535,#252535 50%);
    border-radius: 20px;
    min-width: 240px;

    position: fixed;
    top: 10%;
    left: 50px;
  
    display: flex;
    flex-direction: column;

    h3 {
        color: #FFF;
        margin: 15px 0px;
    }

    .links {

        width: 100%;
        text-align: center;
        height: 40px;
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
            color: #FFF;
            font-size: 1.2rem;
            width: 100%;
            padding: 0.3rem;
            
            &:hover {
                background-color: rgba(79, 73, 73, 0.4);
                transition: 0.3s linear;
            }
        }
    }

    .info_group {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h5 {
            color:#70717B;
            letter-spacing: 1px;

            &:last-child {
                margin-top: 30px;
            }
        }
    

    }

    .cadastrar {
        position: fixed;
        bottom: 140px;
        left: 110px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        h3 {
            color: #70717b;
        }
    
        a {
            background-color: #70717b;
            border-radius: 100%;
            color: #FFF;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    
}


.greyline {
    width: 100%;
    height: 2px;
    background-color: #70717b;
    margin-top: 5px;
}

.home_button {
    position: fixed;
    top: 30px;
    left: 150px;
    background-color:#252535;
    padding: 0.3rem;
    border-radius: 100%;
    color: #FFF;
}


  